.img1{
    position: fixed;
    width: 60%;
    height: 119%;
    padding: 0;
    z-index: -1;
}
.login-container{
    transform: translate(50%,300%);
    border-radius: 15px;
    border-color: aqua;
    border: aqua;

}